$color-footer: #000000;
.footer{
    height: 50px;
    background: $color-footer;
    color: #e2e0e0;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.wrapper {
    min-height: 82vh;
    position: relative;
}

@media all and (min-width: 1024px){
    .footer {
       position: absolute;
      }
  }
  @media all and (min-width: 768px){
    .footer {
       position: absolute;
      }
  } 